#set( $limit = $util.defaultIfNull($context.args.limit, 50) )
{
  "version": "2017-02-28",
  "operation": "Query",
  "limit": $limit,
  #if( $context.args.nextToken )
    "nextToken": "$context.args.nextToken",
  #end
  "query": {
    "expression": "Category = :cat",
    "expressionValues" : {
      ":cat" : { "S" : "${context.arguments.category}" }
    }
  },
  "index": "ByCategory"
}
